/cs225_c/build/
/cs225_c/dist/
/enm3_CS237/ExtendedMission/ADVANCED/build/
/enm3_CS237/ExtendedMission/ADVANCED/dist/
/cs237/build/
/cs237/dist/
/cs225_c++/build/
/cs225_c++/dist/
/cpp_training/build/
/cpp_training/dist/
/CppApplication_1/build/
/CppApplication_1/dist/